.page {
  --background: #0c0c0c;
  --foreground: #0e0e0e;

  --text-primary: white;
  --text-secondary: #00c414;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-color: var(--background);
}


